.app {
  background-color: #42adfd;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home-container {
  width: 30%;
  background-color: #ffffff;
  height: 23%;
  overflow-y: auto;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.weather-page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 30%;
  background-color: #ffffff;
  height: 30%;
  overflow-y: auto;
  padding: 0 10px 0 10px;
}

.weather-img {
  width: 6rem;
  height: 4rem;
  margin: 1rem;
}

.temperature {
  text-align: center;
  font-size: xx-large;
  font-weight: 400;
  color: #000;
}

.weather-header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 5px;
}

.weather-footer {
  width: 30%;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-top: 2px solid #dedcdc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.weather-footer-items {
  display: flex;
  width: 50%;
  height: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  border-right: 2px solid #dedcdc;
  font-weight: 500;
}

.weather-footer-items:last-child {
  border: none;
  height: 1rem;
}

.input-container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.header {
  background-color: #ffffff;
  width: 30%;
  color: #43aefc;
  font-size: x-large;
  padding: 10px 0;
  border-bottom: 2px solid #dedcdc;
  padding: 13px 10px;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.input {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  font-size: medium;
  text-align: center;
  border: 2px solid #dedcdc;
}

.input:focus {
  outline: none;
}

.line-breaker {
  width: 100%;
  margin: 2px 0 2px 0;
  font-size: medium;
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.line-breaker > .line {
  width: 45%;
  display: block;
  height: 2px;
  background-color: #dedcdc;
}

.line-breaker-text {
  width: 15%;
}

.location-btn {
  width: 100%;
  padding: 10px;
  font-size: medium;
  border: none;
  background-color: #43aefc;
  cursor: pointer;
}

.ul {
  list-style: none;
  text-align: center;
  padding: 5px;
}

.ul > li {
  display: flex;
  justify-content: center;
  gap: 15px;
  border-bottom: 1px solid #bdbbbb;
  cursor: pointer;
  padding: 5px;
}

.li:last-child {
  border: none;
}

.weather-text {
  font-size: small;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.weather-text-name {
  margin-left: 5px;
}

.back-arrow {
  cursor: pointer;
}
